/*===== Default page settings: =====*/
html
{
    font-family: sans-serif;
    background-image: linear-gradient(to left, rgba(0, 174, 255, 0.091), rgb(107, 191, 255));
    scroll-behavior: smooth;
}
a
{
    text-decoration: none;
    color: rgb(110, 200, 238);
}
body
{
    padding: 0;
    margin: 0;
}

/*===== Header/sidebar with page navigation: =====*/
header
{
    background-color: dodgerblue;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    padding: 0;
    margin: 0;
    width: 280px;
    min-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: solid 10px rgb(79, 182, 251);
}
nav
{
    text-align: center;
}
header nav ul
{
    padding: 0;
}
header nav ul li
{
    list-style: none;
    padding: 12px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}
header nav ul li a:hover
{
    color: rgb(159, 234, 251);
}
header nav ul li a.highlight
{
    color: aqua;
}

/*===== Main content of the page: =====*/
main
{
    margin-left: 280px;
    position: relative;
    top: 0;
    min-width: 360px;
}
/*=== Universal settings for sections of content: ===*/
section
{
    height: 100vh;
    padding-left: 60px;
    padding-right: 60px;
    border-top: rgb(39, 185, 253) solid 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}
section .heading span
{
    font-family: 'Secular One', sans-serif;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: bold;
    color:rgb(0, 83, 139);
}
section .content
{
    max-width: 920px;
}
.item
{
    padding: 10px 0px;
}
.item .date
{
    color:#117688;
}
.item h3
{
    color:rgb(17, 99, 154);
}

/*=== Section - About: ===*/
#about .content .item span
{
    color: rgb(82, 124, 249);
    font-size: 20px;
}
#about .content .item span a
{
    color: rgb(82, 166, 249);
    font-size: 20px;
}
#name
{
    font-family: 'Secular One', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color:rgb(0, 83, 139);
    /*color: rgb(47, 47, 47);*/
    font-size: 60px;
    margin-bottom: 10px;

}
/*== Links to social networks: ==*/
.socials
{
    display: flex;
}
.link
{
    height: 40px;
    width: 40px;
    background-color: #385256;
    border-radius: 50%;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.link:hover
{
    background-color: #117688;
}
.link img
{
    max-width: 25px;
    height: auto;
    display: block;
}

/*===== Footer of the page: =====*/
footer
{
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color:#117688;
    border-top: solid 10px #15879b;
}
footer a
{
    color: aquamarine;
    font-family: 'Secular One', sans-serif;
    font-size: large;
}
/*===== Adjustments for phone display: =====*/
@media only screen and (max-width: 600px) 
{
    /*===== Default page settings: =====*/
    html
    {
        font-family: sans-serif;
        scroll-behavior: smooth;
    }
    a
    {
        text-decoration: none;
        color: rgb(110, 200, 238);
    }
    body
    {
        padding: 0;
        margin: 0;
        /*background-color: rgb(134, 198, 253);*/
        background-color: red;
    }
    /*===== Header/sidebar with page navigation: =====*/
    header
    {
        background-color: dodgerblue;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        padding: 0;
        margin: 0;
        width: 160px;
        min-width: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /*===== Main content of the page: =====*/
    main
    {
        margin-left: 160px;
        position: relative;
        top: 0;
        min-width: 360px;
    }
    /*=== Universal settings for sections of content: ===*/
    section
    {
        height: 100vh;
        padding-left: 30px;
        padding-right: 30px;
        border-top: rgb(39, 185, 253) solid 1px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
    }
}
