/*TODO: Styles*/
html
{
    font-family: sans-serif;
    background-color: rgb(205, 231, 253);
    scroll-behavior: smooth;
}
a
{
    text-decoration: none;
    color: rgb(110, 200, 238);
}
body
{
    padding: 0;
    margin: 0;
}
header
{
    background-color: dodgerblue;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    padding: 0;
    margin: 0;
    width: 280px;
    min-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav
{
    text-align: center;
}
header nav ul
{
    padding: 0;
}
header nav ul li
{
    list-style: none;
    padding: 12px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}
header nav ul li a:hover
{
    color: rgb(159, 234, 251);
}
header nav ul li a.highlight
{
    color: aqua;
}
main
{
    margin-left: 280px;
    position: relative;
    top: 0;
    min-width: 360px;
}
section
{
    height: 100vh;
    padding-left: 60px;
    border-bottom: rgb(140, 160, 169) solid 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}
section .heading span
{
    font-family: 'Secular One', sans-serif;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: bold;
    color:rgb(0, 83, 139);
}
section .content
{
    max-width: 920px;
}
#about .content .item span
{
    color: dodgerblue;
    font-size: 20px;
}
#about .content .item span a
{
    color: dodgerblue;
    font-size: 20px;
    /*text-decoration: underline;*/
}
.item .date
{
    color:#117688
}
.item
{
    padding: 10px 0px;
}
#name
{
    font-family: 'Secular One', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(47, 47, 47);
    font-size: 60px;
    margin-bottom: 10px;

}
.socials
{
    display: flex;
}
.link
{
    height: 40px;
    width: 40px;
    background-color: #385256;
    border-radius: 50%;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.link:hover
{
    background-color: #117688;
}
.link img
{
    max-width: 20px;
    height: auto;
    display: block;
}

/* Phone display */
@media screen and (max-width = 600px) 
{
html
{
    font-family: sans-serif;
    background-color: rgb(205, 231, 253);
    scroll-behavior: smooth;
}
a
{
    text-decoration: none;
    color: rgb(110, 200, 238);
}
body
{
    padding: 0;
    margin: 0;
}
header
{
    background-color: dodgerblue;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    padding: 0;
    margin: 0;
    width: 160px;
    min-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
main
{
    margin-left: 160px;
    position: relative;
    top: 0;
    min-width: 360px;
}
section
{
    height: 100vh;
    padding-left: 30px;
    border-bottom: rgb(140, 160, 169) solid 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}
}